<form [formGroup]="employeeForm" #formDir="ngForm" novalidate>
  <div class="container mt-5">
    <h2 class="text-center text-primary">Edit Employee</h2>
    <hr />
    <div class="col-sm-8">
      <div *ngIf="employeeForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any unsaved changes
        will be lost!
      </div>
    </div>
    <div class="form-group row">
      <label class="form-control-label col-md-12">Name</label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control is-invalid"
          formControlName="name"
          placeholder="Name"
          [ngClass]="{
            'is-invalid': employeeForm.get('name').errors && employeeForm.get('name').touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="employeeForm.get('name').errors && employeeForm.get('name').touched"
        >
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Gender">Gender</label>
      <div class="col-md-4">
        <select
          class="form-control"
          data-val="true"
          formControlName="gender"
          [ngClass]="{
            'is-invalid': employeeForm.get('gender').errors && employeeForm.get('gender').touched
          }"
        >
          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="employeeForm.get('gender').errors && employeeForm.get('gender').touched"
        >
          Gender is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Department"
        >Date of birth</label
      >
      <div class="col-md-4">
        <input
          class="form-control is-invalid"
          [ngClass]="{
            'is-invalid': employeeForm.get('dob').errors && employeeForm.get('dob').touched
          }"
          class="form-control"
          placeholder="Date of Birth"
          formControlName="dob"
          type="text"
          bsDatepicker
          [bsConfig]="bsConfig"
        />

        <div
          class="invalid-feedback"
          *ngIf="employeeForm.hasError('required', 'dob') && employeeForm.get('dob').touched"
        >
          Date of birth is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Department">Department</label>
      <div class="col-md-4">
        <input
          class="form-control is-invalid"
          type="text"
          formControlName="department"
          placeholder="Department"
          [ngClass]="{
            'is-invalid': employeeForm.get('department').errors && employeeForm.get('department').touched
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            employeeForm.hasError('required', 'department') && employeeForm.get('department').touched
          "
        >
          Department is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="City">City</label>
      <div class="col-md-4">
        <input
          class="form-control is-invalid"
          type="text"
          formControlName="city"
          data-val="true"
          placeholder="City"
          [ngClass]="{
            'is-invalid': employeeForm.get('city').errors && employeeForm.get('city').touched
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="employeeForm.hasError('required', 'city') && employeeForm.get('city').touched"
        >
          City is required
        </div>
      </div>
    </div>

    


    <div class="form-group">
      <button
        [disabled]="!employeeForm.valid"
        type="submit"
        class="btn btn-primary mr-2"
        (click)="update()"
      >
        Save
      </button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
